/*Styling for tags*/

body {
   height: 100%;
   margin: 0;
   
}

.bg {
    
    background-image: url("eldo.jpg");
  
    height: 100%; 
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

aside{
    width: 275px;
    position: fixed;
    overflow-x: hidden;

}

form {
    margin-top: 10px;
    text-align: center;
}

li {
    list-style: none;
}

h1 {
    margin-left: 300px;
    background-color: rgb(31, 177, 177);
    text-align: center;
    width: 1000px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: Arial, Gadget, sans-serif;
}

h2 {
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    font-family: Arial, Gadget, sans-serif;
}

/*Styling for classes */

.current-weather {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    position: relative;
    text-align: center;
    width: 200px;
    background-color: rgb(31, 177, 177);
    color: white
}

.forecast-div {
    float: left;
    margin-left: 50px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(31, 177, 177);
    color: white
}

.city-button {
    color: white;
    background-color: blue;
}

.city-button:hover {
    color: white;
    background-color: rgb(31, 177, 177);
}

.search-button {
    color: white;
    background-color: blue;
}

.search-button:hover {
    color: white;
    background-color: rgb(31, 177, 177);
}

.rounded {
    border-radius: 0.25rem !important;
    opacity: 75%
  }

/*Styling for ID's*/

#main-content{
    position: relative;
    margin-left: 300px;
    padding: 10px 10px 10px 10px;
    height: 375px;
    background-color: white;
    width: 1000px;
}

#week-forecast{
    margin-left: 300px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    height: 150px;
    background-color: white;
    width: 1000px;
}